@page "/users"

@inject JsonPlaceholderService Api

<h3>Users</h3>


@if (users == null)
{
    <LoadingComponent Message="Loading users..." />
}
else
{
       <TableTemplate Items="@users" TItem="User">
            <HeaderTemplate>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Website</th>            
            </HeaderTemplate>

            <RowTemplate>
                <UserComponent user="@context" />

            </RowTemplate>
        </TableTemplate>

}


@code {
    private IEnumerable<User> users;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(TimeSpan.FromSeconds(5));

        users = await Api.GetUsers();
    }



}
