@page "/products/{id:int}"
@using Vavatech.Shopper.Domain;


<h3>ProductDetail</h3>

<div>
    @if (product == null)
    {
        <LoadingComponent />
    }
    else
    {
        <p>@product.Price</p>
        <p>@product.Name</p>
        <p>@product.Color</p>
        <p>@product.Price</p>
    }
</div>

@code {

    [Parameter]
    public int Id { get; set; }
    private Product product;
    [Inject]
    public IJSInProcessRuntime JS { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var key = $"/products/{Id}";

        string json = await JS.InvokeAsync<string>("localStorage.getItem", key);
        product = System.Text.Json.JsonSerializer.Deserialize<Product>(json);

    }

}
