<div>
    <form>
        <div>
            <label for="filter">Search: </label>
            <input type="text" id="filter" @bind-value="filter" @ref="filterInputElementRef" />
        </div>

        <button type="button" @onclick="Search">Search</button>
    </form>
</div>

@code {
    private string filter;

    private ElementReference filterInputElementRef;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private void Search()
    {
        OnSearch.InvokeAsync(filter);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await filterInputElementRef.FocusAsync();
        }
    }

}
