@typeparam TItem

<table class="table table-hover">
    <thead>
        <tr>
            @HeaderTemplate       
        </tr>
    </thead>

    <tbody>
        <Virtualize Items="Items.ToList()" Context="item">
            <ItemContent>            
                <tr>
                    @RowTemplate(item)
                </tr>
            </ItemContent>
            <Placeholder>
                <p>Loading...</p>
            </Placeholder>

           

        </Virtualize>
@*        @foreach (var item in Items)
        {
            <tr>
                @RowTemplate(item)
            </tr>
        }
*@    </tbody>
</table>

@code {

    [Parameter]
    public RenderFragment HeaderTemplate { get; set; }

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }

    [Parameter]
    public IEnumerable<TItem> Items { get; set; }

}
