@typeparam TItem

<table class="table table-hover">

    <thead>
        <tr>
            @foreach (var column in Columns)
            {
                <th>@column</th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                @RowTemplate(item)
            </tr>
            
        }

    </tbody>


</table>

@code {

    [Parameter]
    public IEnumerable<string> Columns { get; set; }

    [Parameter]
    public IEnumerable<TItem> Items { get; set; }

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }

}
