@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>Your count value is @currentCount</p>

<div>
    <button @onclick="()=>currentCount++">Increment</button>
    <button @onclick="()=>currentCount--">Decrement</button>

    <button @onclick="IncrementCount">Increment</button>
    <button @onclick="DecrementCount">Decrement</button>

    <button @onclick="ResetCount">Reset</button>
</div>

@code {
    private int currentCount = 10;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount() => currentCount--;
}

