@page "/counter"
@inject IJSInProcessRuntime JS

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>Your count value is @CurrentCount</p>

<div>
    <button @onclick="()=>CurrentCount++">Increment</button>
    <button @onclick="()=>CurrentCount--">Decrement</button>

    <button @onclick="IncrementCount">Increment</button>
    <button @onclick="DecrementCount">Decrement</button>

    <button @onclick="ResetCount">Reset</button>
</div>

@code {
    // back field
    private int currentCount;

    public int CurrentCount 
    { 
        get
        {
            string value = JS.Invoke<string>("localStorage.getItem", "currentCount");

            if (!int.TryParse(value, out currentCount))
            {
                currentCount = default;
            }

            return currentCount;
        }
        set
        {
            currentCount = value;

            JS.InvokeVoid("localStorage.setItem", "currentCount", currentCount);
        }
    }

    private void IncrementCount()
    {
        CurrentCount++;
    }

    private void DecrementCount() => CurrentCount--;

    protected override void OnInitialized()
    {
        JS.InvokeVoid("console.log", "Hello World!");
    }
}

